<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<div class="pd-wrap">
      <div class="container">
          <div class="heading-section">
              <h2>Product Details</h2>
          </div>
          <div class="row">
              <div class="col-md-6">

        <div class="item">
          <img [src]="selectedProduct.photo_link" />
      </div>
              </div>
              <div class="col-md-6">
                  <div class="product-dtl">
                      <div class="product-info">
                          <div class="product-name">{{selectedProduct.name}}</div>
                          <div class="reviews-counter">
                            <span>{{selectedProduct.rating}}</span>
                            <div class="rate" [style.width.px]="(selectedProduct.rating*75)/ 5">
                                <div style="width: 75px">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                              
                          </div>
                          <div class="product-price-discount"><span>${{selectedProduct.price}}</span></div>
                      </div>
                      <p>{{selectedProduct.description}}</p>
                      <div class="row">
                      </div>
                      <div class="product-count">
                        <button class="round-black-btn" (click)="cart(selectedProduct._id)" >Add to Cart</button>
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="product-info-tabs">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <p class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</p>
                    </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </div>
                    
              </div>
          </div>
          </div>

          <h1 class="related">Products related to this item</h1>

<swiper-container 
  navigation="true" 
  pagination="true" 
  pagination-clickable="true"
  slides-per-view="3" 
  speed="500" 
  css-mode="true"
  mousewheel-force-to-axis="true"
  keyboard = "true"
>
  <swiper-slide *ngFor="let item of selectedCategory">

    <div class="product-card" [routerLink]="['/productDetails',item._id]">
      <div class="product-tumb">
          <img [src]="item.photo_link" alt="">
      </div>
      <div class="product-details">
          <span class="product-catagory">{{item.type}}</span>
          <h4><a [routerLink]="['/productDetails',item._id]">{{item.name}}</a></h4>
          <p>{{item.description}}</p>
          <div class="product-bottom-details">
              <div class="product-price">${{item.price}}</div>
              <div class="product-links">
                  <a href=""><i class="fa fa-heart"></i></a>
                  <a href=""><i class="fa fa-shopping-cart"></i></a>
              </div>
          </div>
      </div>
    </div>

  </swiper-slide>

</swiper-container>