<div class="about" id="about">
<div class="about-section">
    <img src="https://t4.ftcdn.net/jpg/01/33/33/41/360_F_133334155_X23HzbJKawbIgXVaub4bPM8CjpkS5uMS.jpg" alt="">
  </div>

    <div class="on-about">
       <div class="on-about-one">
          <img src="https://thumbs.dreamstime.com/b/smiling-female-doctor-holding-medical-records-lab-coat-her-office-clipboard-looking-camera-56673035.jpg" alt="">
          <h1 class="head-one">RATED BY EXPERTS</h1>
          <p class="paragraph-one">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
       <div class="on-about-two">
        <img src="https://img.freepik.com/free-photo/copy-space-tablets-with-daily-pills_23-2148550989.jpg" alt="">
        <h1 class="head-two">MEDLIFE PRODUCTS</h1>
        <p class="paragraph-two">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    
       </div>
    </div>
</div>